<div class="jumbotron center-block">

  <h1>Post a new job</h1>
  <p>Get the best talents to work with you.</p>

</div>
<div>
  <form role="form" (submit)="onSubmit($event)">

    <div class="form-group">
      <label for="title">Job title</label>
      <input type="text" [(ngModel)]="job.title" class="form-control" id="title">
    </div>

    <div class="form-group">
      <label for="industry">Industry</label>
      <input type="text" [(ngModel)]="job.industry" class="form-control" id="industry">
    </div>

    <div class="form-group">
      <label for="country">Country</label>
      <input type="text" [(ngModel)]="job.country" class="form-control" id="country">
    </div>

    <div class="form-group">
      <label for="type">Job type</label>
      <input type="text" [(ngModel)]="job.type" class="form-control" id="type">
    </div>

    <div class="form-group">
      <label for="summary">Summary</label>
      <textarea [(ngModel)]="job.summary" class="form-control" id="summary"></textarea>
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <textarea [(ngModel)]="job.description" class="form-control" id="description"></textarea>
    </div>

    <button type="submit" class="button">Create a new job</button>

  </form>
</div>
